/******* NAV ********/
nav {
    width:100%;
    z-index: 1;
    font-family: 'Manuale', serif;
    opacity: 0.8;
}
.navbar-nav {
    margin-left: 15%;
}


.logo {
    height: 3rem;
}

.nav-link {
    margin: 1em;
}